body{
    margin: 0;
}

div{
    display: inline-block;
}

#caixa_maior{
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100vh;
    padding: auto;
}

#caixa_menor{
    margin: 25% 0 0 18%;
    width: 40%;
    height: 30%;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(56, 56, 56);
    padding: 30px 70px 130px 70px;
}

.titulo-login{
    font-size: 30px;
    color: white;
}

.titulo-informacoes{
    font-size: 16px;
    color: rgb(199, 199, 199);
}

label{
    color: rgb(199, 199, 199);
}

.tamanho{
    width: 75%;
    height: 20px;
    border-radius: 5px;
}

.tamanho-button{
    width: 75%;
    height: 30px;
    background-color: yellow;
    border-color:yellow;
    color: black;
    border-radius: 5px;
}

.label-conta{
    color: yellow;
}

#lado_direito{
    position: relative;
    float: right;
    width: 50%;
    height: 100vh;
}

img{
    width: 100%;
    height: 100vh;
}