body{
    margin: 0;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.caixa_maior{
    background-color: #1C1C1C;
    width: 50%;
    height: 100vh;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa_menor{
    background-color: #363636;
    padding: 50px;
}

.titulo-login{
    font-size: 30px;
    color: white;
}

.titulo-informacoes{
    font-size: 16px;
    color: rgb(199, 199, 199);
}

label{
    color: rgb(199, 199, 199);
}

.tamanho-input{
    height: 20px;
    width: 300px;
    display: inline-block;
    border-radius: 5px;
    background-clip: padding-box;
}

.lembre-esqueciSenha{
    display: flex;
    justify-content: space-between;
}

.tamanho-button{
    width: 300px;
    height: 30px;
    background-color: yellow;
    border-color:yellow;
    color: black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.label-conta{
    color: yellow;
    text-align: center;
}

.lado_direito{
    background: url(./img/img.jpg) no-repeat top left;
    background-size: auto 100%;
    width: 50%;
    height: 100vh;
}